{% extends 'index.html' %}
{% block main_content %}
    <div class="container">
        <div class="row align-items-center">

          <div class="col-12 col-xl-2">
            <a href="{% url 'main' %}" class="mb-0 site-logo m-0 p-0"><img src="../static/img/logo2.png" alt="WoodenHous" width="220"></a>
          </div>
        </div>
    </div>

<section class="site-section bg-light bg-image" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <form action="#" class="p-5 bg-white" method="post">
            <h2 class="font-weight-bold mb-5 text-secondary  text-center">Реєстрація</h2>
            {% csrf_token %}
          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0 text-center mx-auto">
              <label class="text-dark" for="fname">Логін:</label>
              {{ form.username }}
              <div class="alert-danger">{{form.username.errors}}</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0 text-center mx-auto">
              <label class="text-dark" for="fpas">Пароль:</label>
              {{ form.password }}
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0 text-center mx-auto">
              <label class="text-dark" for="fpas">Повторіть пароль</label>
              {{ form.password2 }}
              <div class="alert-danger">{{form.password2.errors}}</div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 text-center">
              <input
                type="submit"
                value="Зареєструватись"
                class="btn btn-primary btn-md text-white"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}