<div
  class="site-blocks-cover overlay"
  style="background-image: url(/static/img/property_5-sm.jpg)"
  data-aos="fade"
  id="home-section"
>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 mt-lg-5 text-center">
        <h1>Будинки, бесідки та вироби з дерева.</h1>
        <br /><br />
        <p class="mb-12">
          Наша компанія спеціалізується на виготовленні дерев'яних блоків з
          брусів, а також будівництві дерев'яних будинків та беседок. Ми
          використовуємо тільки високоякісне дерево та професійне обладнання для
          виготовлення наших продуктів. Наші дерев'яні блоки можуть бути
          використані для будівництва стін будинків, а також для створення
          декоративних елементів та меблів. Ми здійснюємо будівництво будинків
          та беседок на замовлення, забезпечуючи високу якість робіт та
          своєчасну доставку готових проектів. Наша мета - надати клієнтам
          якісні та надійні рішення для будівництва з дерева.
        </p>
      </div>
    </div>
  </div>

  <a href="../#howitworks-section" class="smoothscroll arrow-down"
    ><span class="icon-arrow_downward"></span
  ></a>
</div>
