<div class="site-section" id="listings-section">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-2 order-1 order-md-2">
        <div class="mb-5">
          <h3 class="text-black mb-4 h5 font-family-2">Filter</h3>
          <form action="#">
            <div class="form-group">
              <div class="select-wrap">
                <span class="icon icon-keyboard_arrow_down"></span>
                <select class="form-control px-3">
                  <option value="">By Date</option>
                  <option value="">Trending</option>
                  <option value="">Best</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="select-wrap">
                <span class="icon icon-keyboard_arrow_down"></span>
                <select class="form-control px-3">
                  <option value="">1 Bath, 1 Bedroom</option>
                  <option value="">2 Bath, 2 Bedroom</option>
                  <option value="">3+ Bath, 3+ Bedroom</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="select-wrap">
                <span class="icon icon-keyboard_arrow_down"></span>
                <select class="form-control px-3">
                  <option value="">For Sale</option>
                  <option value="">For Rent</option>
                  <option value="">For Lease</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="mb-5">
          <h3 class="text-black mb-4 h5 font-family-2">Filter by Price</h3>
          <div id="slider-range" class="border-primary"></div>
          <input
            type="text"
            name="text"
            id="amount"
            class="form-control border-0 pl-0 bg-white"
            disabled=""
          />
        </div>
      </div>
      <div class="glightbox col-md-5 order-2 order-md-1">
        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_1-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_2-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_3-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_4-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_5-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_1-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_2-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_3-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_4-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>

        <div class="property horizontal d-flex">
          <div class="mr-3 img-entry">
            <a href="property-single.html"
              ><img
                src="images/property_5-sm.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
          </div>
          <div class="prop-details p-3">
            <div>
              <a href="property-single.html"
                ><strong class="price">$3,400,000</strong></a
              >
            </div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r">4 baths</span>
              <span class="w">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-9">
        <div class="custom-pagination text-center">
          <span>1</span>
          <a href="#">2</a>
          <a href="#">3</a>
          <span class="more-page">...</span>
          <a href="#">7</a>
        </div>
      </div>
    </div>
  </div>
</div>
